<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8"/>
    <title>Sulkey</title>
    <meta name="description" content="Transformamos a antiga e burocrática contabilidade. Aqui tudo é feito através da nossa plataforma com praticidade, clareza e automação. Atendemos diversos segmentos!"/>
    <meta property="og:title" content="Contasy - Contabilidade 100% digital para negócios online"/>
    <meta property="og:description" content="Transformamos a antiga e burocrática contabilidade. Aqui tudo é feito através da nossa plataforma com praticidade, clareza e automação. Atendemos diversos segmentos!"/>
    <meta property="og:image" content="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6313d2d300d7d6084a4ec4d9_Voce%CC%82%20%26%20Eu.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/css/contasy.webflow.83b78a6cb.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/63148a38fac8ee0f92c25337_favicon-32x32.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/63148a7dfc6ebc112a6c4321_android-chrome-556x256.png"/>
</head>
<body>
    <div class="page-wrapper">
        <div class="home-hero-section">
            <div
                data-animation="default"
                data-collapse="medium"
                data-duration="400"
                data-easing="ease"
                data-easing2="ease"
                role="banner"
                class="white-navbar w-nav"
            >
                <div class="wrapper-1170px nav-wrapper">
                    <a href="/" aria-current="page" class="brand-logo w-nav-brand w--current">
                        <img
                            src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background.png"
                            loading="lazy"
                            width="220"
                            sizes="(max-width: 479px) 100vw, 220px"
                            alt=""
                            srcset="
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-500.png 500w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-800.png 800w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-1080.png 1080w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-1600.png 1600w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-2000.png 2000w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-2600.png 2600w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/630995fa57a84e6355c97ee4_White%20logo%20-%20no%20background-p-3200.png 3200w
                            "
                            class="brand-logo-image"
                        />
                    </a>
                    <nav role="navigation" class="nav-menu-wrapper white-nav w-nav-menu">
                        <div class="nav-links-left">
                            <a href="/blog" class="nav-link w-nav-link">Blog</a>
                            <a href="#services" class="nav-link w-nav-link">Serviços</a>
                            <a href="#about-us" class="nav-link w-nav-link">Sobre nós</a>
                            <a href="#resources" class="nav-link w-nav-link">Recursos</a>
                            <a href="#pricing" class="nav-link w-nav-link">Planos</a>
                            <a href="https://app.contasy.com.br/" class="nav-link w-nav-link">Login</a>
                            <a href="/reference/sign-up-page" class="nav-button white-button menu w-button">Create Account</a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="home-hero-wrapper">
                <div class="home-hero-content-wrapper">
                    <div class="home-hero-content-contain">
                        <h1 data-w-id="0490aad3-4f75-bbf4-19e0-04e7412b9952" class="home-hero-heading">Contabilidade simples, rápida e descomplicada</h1>
                        <div data-w-id="603f9291-d14d-66f2-44b1-1f594432de74" class="home-hero-heading-text">Foque em vender que a gente cuida do resto. Pague o mínimo de impostos possível e regularize seu negócio digital ainda hoje.</div>
                        <div data-w-id="46985ce4-e645-c824-638d-a07269bd52df" style="opacity:0" class="home-hero-button-contain-top">
                            <a href="https://app.contasy.com.br/onboarding/nova-empresa/dados-pessoais" class="blue-button home-hero w-button">Abrir minha empresa</a>
                            <a href="https://app.contasy.com.br/onboarding/trocar-contabilidade/dados-pessoais" class="white-button w-button">Trocar de contador</a>
                        </div>
                    </div>
                    <div class="home-hero-background-gradient"></div>
                </div>
                <div class="home-hero-image-container">
                    <div data-w-id="38e7ad75-7e58-9386-bf10-a13f7e0db646" class="blue-ellipse"></div>
                    <div data-w-id="cc8a1760-3726-ea0e-b9e6-cbe2115ea1ff" class="blue-ellipse _2"></div>
                    <img
                        class="home-hero-image"
                        src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/639ed6ecbcb191fc64e883a9_Captura%20de%20Tela%202022-12-18%20a%CC%80s%2006.01.21.png"
                        width="970"
                        alt=""
                        style="opacity:0"
                        sizes="(max-width: 479px) 100vw, (max-width: 1279px) 90vw, 970px"
                        data-w-id="2aaa8925-7e8d-b1ee-9cc9-7dada4e22a79"
                        loading="lazy"
                        srcset="
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/639ed6ecbcb191fc64e883a9_Captura%20de%20Tela%202022-12-18%20a%CC%80s%2006.01.21-p-500.png 500w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/639ed6ecbcb191fc64e883a9_Captura%20de%20Tela%202022-12-18%20a%CC%80s%2006.01.21-p-800.png 800w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/639ed6ecbcb191fc64e883a9_Captura%20de%20Tela%202022-12-18%20a%CC%80s%2006.01.21-p-1080.png 1080w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/639ed6ecbcb191fc64e883a9_Captura%20de%20Tela%202022-12-18%20a%CC%80s%2006.01.21-p-1600.png 1600w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/639ed6ecbcb191fc64e883a9_Captura%20de%20Tela%202022-12-18%20a%CC%80s%2006.01.21.png 1644w"
                    />
                </div>
            </div>
        </div>
        <div class="logo-section">
            <div class="logo-section-wrapper">
                <h3 data-w-id="aef92b53-4fa8-f7df-b4f2-f5909bb5828b" style="opacity:0" class="logo-section-heading">Somos indicados por:</h3>
                <div data-w-id="2f099e48-0b07-b342-b9a3-65aa22c23faf" style="opacity:0" class="w-layout-grid logo-grid">
                    <div id="w-node-_400d6078-fa3d-5c3b-2534-0b9a1f7ed174-627e1d6d" class="logo-grid-wrapper">
                        <img
                            src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309af18aba04ea6a1a1e475_conta-simples-logo.36a6d3f8.png"
                            loading="lazy"
                            width="189"
                            sizes="(max-width: 479px) 100vw, 188px"
                            alt=""
                            srcset="
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309af18aba04ea6a1a1e475_conta-simples-logo.36a6d3f8-p-500.png 500w,
                                https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309af18aba04ea6a1a1e475_conta-simples-logo.36a6d3f8.png 799w"
                            class="grid-logo-image"
                        />
                    </div>
                    <div id="w-node-dcc0a1eb-d2bf-91eb-7202-67d51c960de5-627e1d6d" class="logo-grid-wrapper">
                        <!-- Adicione aqui os elementos adicionais do logotipo, se houver -->
                    </div>
                    <div id="w-node-_60649e7f-84bb-6fdd-e355-3510d30bfc8c-627e1d6d" class="logo-grid-wrapper">
                        <!-- Adicione aqui os elementos adicionais do logotipo, se houver -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clients-control-section">
        <div class="clients-control-wrapper">
            <div class="clients-control-text-wrapper">
                <h2 data-w-id="af911142-edb2-2177-b7a6-2c7f0fca27fe" style="opacity:0" class="clients-control-heading">
                    Pague seus impostos em 60 segundos
                </h2>
                <p data-w-id="af911142-edb2-2177-b7a6-2c7f0fca2800" style="opacity:0" class="clients-control-paragraph">
                    Aqui seus impostos são gerados de maneira fácil, previsível e intuitiva.
                    <br/><br/>
                    Você sabe em tempo real exatamente qual percentual de imposto você vai pagar, sem surpresas e confusões das contabilidades tradicionais.
                    <br/><br/>
                    Seu foco precisa estar em escalar sua empresa, então criamos um sistema onde você gera seus impostos em 60 segundos e fica sempre regular na Receita Federal.
                </p>
            </div>
            <div data-w-id="af911142-edb2-2177-b7a6-2c7f0fca27f6" style="opacity:0" class="clients-control-image-wrapper">
                <div class="clients-control-background-circle-contain">
                    <img
                        src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309951c987588773a7e1df3_Mockup%20CIRCLE.png"
                        loading="lazy"
                        width="586"
                        sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 586px, (max-width: 1279px) 47vw, 586px"
                        alt=""
                        srcset="
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309951c987588773a7e1df3_Mockup%2520CIRCLE-p-500.png 500w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309951c987588773a7e1df3_Mockup%2520CIRCLE-p-800.png 800w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6309951c987588773a7e1df3_Mockup%20CIRCLE.png 1100w"
                        class="cc-circle-image"
                    />
                    <img
                        src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310c56b6a18aab222db7e71_Captura%20de%20Tela%202022-09-01%20a%CC%80s%2011.44.44.png"
                        loading="lazy"
                        height=""
                        width="446"
                        alt=""
                        srcset="
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310c56b6a18aab222db7e71_Captura%20de%20Tela%202022-09-01%20a%CC%80s%2011.44.44-p-500.png 500w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310c56b6a18aab222db7e71_Captura%20de%20Tela%202022-09-01%20a%CC%80s%2011.44.44-p-800.png 800w,
                            https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310c56b6a18aab222db7e71_Captura%20de%20Tela%202022-09-01%20a%CC%80s%2011.44.44.png 892w"
                        sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, (max-width: 991px) 251.96875px, (max-width: 1439px) 20vw, 258px"
                        class="clients-control-image-4"
                    />
                    <!-- Continue adicionando imagens conforme necessário -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="pricing" class="pricing-hero-section-2">
          <div class="pricing-hero-wrapper">
            <h2 data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c33" style="opacity:0" class="pricing-hero-heading">Planos para todos os tamanhos</h2>
            <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c35" style="opacity:0" class="pricing-header-grid">
              <!-- ... Conteúdo dentro do pricing-header-grid ... -->
            </div>
            <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c45" style="opacity:0" class="pricing-toggle-wrap">
              <!-- ... Conteúdo dentro do pricing-toggle-wrap ... -->
            </div>
            <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c4d" style="opacity:0" class="w-layout-grid pricing-grid monthly">
              <!-- ... Conteúdo dentro do pricing-grid monthly ... -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <div id="pricing" class="pricing-hero-section-2">
            <div class="pricing-hero-wrapper">
                <h2 data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c33" style="opacity:0" class="pricing-hero-heading">Planos para todos os tamanhos</h2>
                <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c35" style="opacity:0" class="pricing-header-grid">
                    <div id="w-node-_9ae44b3a-a5ea-1e12-87cf-3b7d20794c36-627e1d6d" class="header-grid-wrap">
                        <div class="header-geid-icon-wrap">
                            <img src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310d4e5fd8ae530b6e49097_svgexport-1.svg" loading="lazy" alt="" class="header-grid-icon"/>
                        </div>
                        <div class="header-grid-text">MEI</div>
                    </div>
                    <div id="w-node-_9ae44b3a-a5ea-1e12-87cf-3b7d20794c3b-627e1d6d" class="header-grid-wrap">
                        <div class="header-geid-icon-wrap">
                            <img src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310d4e5fd8ae530b6e49097_svgexport-1.svg" loading="lazy" alt="" class="header-grid-icon"/>
                        </div>
                        <div class="header-grid-text">Simples Nacional</div>
                    </div>
                    <div id="w-node-_9ae44b3a-a5ea-1e12-87cf-3b7d20794c40-627e1d6d" class="header-grid-wrap">
                        <div class="header-geid-icon-wrap">
                            <img src="https://assets-global.website-files.com/6309951b987588cf9b7e1d67/6310d4e5fd8ae530b6e49097_svgexport-1.svg" loading="lazy" alt="" class="header-grid-icon"/>
                        </div>
                        <div class="header-grid-text">Lucro Presumido</div>
                    </div>
                </div>
                <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c45" style="opacity:0" class="pricing-toggle-wrap">
                    <div class="toggle-row-2">
                        <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c47" class="toggle-text-2">Abrir empresa</div>
                        <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c49" class="toggle-contain-2">
                            <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="toggle-dot-2"></div>
                        </div>
                        <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c4b" class="toggle-text">Trocar de contador</div>
                    </div>
                </div>
                <div data-w-id="9ae44b3a-a5ea-1e12-87cf-3b7d20794c4d" style="opacity:0" class="w-layout-grid pricing-grid monthly">
                    <!-- ... (content of the monthly pricing grid) ... -->
                </div>
                <div style="display:none;-webkit-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid pricing-grid annually">
                    <!-- ... (content of the annually pricing grid) ... -->
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- ... (outros elementos) ... -->
                  
</body>
</html>

